@model IEnumerable<Jop_Offers_Website.Models.ApplicationUser>

@{
    ViewBag.Title = "GetUserByType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.test == "P")
{
<h3 class="text-center mb-4">جميع الناشرون</h3>
}
@if (ViewBag.test == "S")
{
<h3 class="text-center mb-4">جميع الباحثون</h3>
}
<hr />
@if (ViewBag.r == false)
{
    <div class="alert alert-danger text-center">
        <p class="text-center">@ViewBag.Con</p>
        @Html.ActionLink("تأكيد الحذف", "DeleteUserConfirmed", new { id = @ViewBag.id, test = @ViewBag.test }, new { @class = "btn btn-danger" })

        @if (ViewBag.test == "P")
        {
            @Html.ActionLink(" رجوع", "GetUserByType", "Admin", new { type = "الناشرون", test = "P" }, new { @class = "btn btn-outline-danger" })
        }
        @if (ViewBag.test == "S")
        {
            @Html.ActionLink(" رجوع", "GetUserByType", "Admin", new { type = "الباحثون", test = "S" }, new { @class = "btn btn-outline-danger" })
        }

    </div>
}
<table class="table table-hover text-center">
    <tr class="table-dark text-warning ">

        <th>

        </th>
        <th>
            اسم المستخدم
        </th>
        <th>
            البريد الالكترونى
        </th>
        <th>
            رقم الموبايل
        </th>
        <th>
            سنه الميلاد
        </th>
        <th>
            المحافظه التابع لها
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Uploads/users/@item.image" class="rounded-circle" style="width:50px ; height:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Governorate)
            </td>
            <td>
                <div class=" my-auto my-auto text-center py-3">

                    <a href="@Url.Action("DeleteUser", "Admin" , new { id = item.Id, Act = @ViewBag.test } )">
                        <i class='fa fa-user-times text-danger fa-2x'></i>
                    </a>
                </div>
            </td>
        </tr>
    }

</table>
