
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row my-3">
        <div class="col-md-8 mx-auto">

            @using (Html.BeginForm("Apply", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class="text-center">التقدم الى الوظيفه</h4>
                    <div class="">
                        @if (ViewBag.Result != null)
                        {
                            if (ViewBag.Result == "تم التقدم الى تلك الوظيفه بنجاح")
                            {
                                <h5 class="alert-success p-2"> @ViewBag.Result</h5>
                            }
                            else
                            {
                                <h5 class="alert-danger p-2">@ViewBag.Result</h5>
                            }
                        }
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <h6 class="text-center">اترك رساله الى الناشر (<span class="text-info">الرساله اختياريه</span>)</h6>

                        <div class="col-md">
                            @Html.TextArea("Message", new { @class = "form-control", rows = "6", placeholder = "نص الرساله" })
                            @Html.ValidationMessage("Message", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h6 class="text-center mt-2"> ارفاق السيره الذاتيه(<span class="text-info">اختياريى</span>)</h6>
                        <div class="col-md">
                            <input class="form-control" name="cv" accept=".pdf"type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="my-2 col-md">
                            <input type="submit" value="ارسال الطلب" class="btn btn-warning w-100" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("الرجوع الى الصفحه الرئيسيه", "Index", null, new { @class = "btn btn-outline-warning my-2 w-100" })
            </div>

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
